video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: fill;
  overflow: hidden;
  z-index: -1;
}

.container {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.result-container {
  width: 50vw;
  max-width: 80vw;
  height: 80vh;
  padding: 20px;
  border: 10px solid black;
  background: #ffffff;
  box-shadow: 0px 2px 3px rgba(35, 38, 59, 0.05),
    0px 10px 30px rgba(35, 38, 59, 0.08);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  .image-container {
    position: relative;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
  }
  img{
    max-height: 500px;
    object-fit: center;
  }
  .bottom-text,
  .top-text {
    font-family: impact;
    font-size: 50px;
    color: white;
    -webkit-text-stroke: 3px black;
    z-index: 3;
    transform: translateX(-50%);  
  }
  .bottom-text {
    position: absolute;
    bottom: 10px;
    left: 50%;
  }
  .top-text {
    position: absolute;
    top: 0px;
    left: 50%;
  }
  .noise {
    pointer-events: none;
    position: absolute;
    mix-blend-mode: hard-light;
    top: 0;
    bottom: 0;
    height: 100%;
    z-index: 2;
  }
}
.input-container {
  width: 40vh;
  max-width: 80vw;
  height: 40vh;
  border: 10px solid black;
  background: #ffffff;
  box-shadow: 0px 2px 3px rgba(35, 38, 59, 0.05),
    0px 10px 30px rgba(35, 38, 59, 0.08);
  border-radius: 50%;
  overflow: hidden;
  .dropzone {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    input,
    .hint {
      cursor: pointer;
      width: 100%;
      height: 100%;
    }
    input {
      opacity: 0;
    }
    .hint {
      padding: 20px;
      box-sizing: border-box;
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      position: absolute;
      top: 0px;
      left: 0px;
    }
  }
}
